<% @posts.order(created_at: :desc).each do |post| %>
  <p><%= post.message %> Posted on <%= post.created_at.strftime("%d/%m/%Y")%> at
    <%= post.created_at.strftime("%H:%M")%>



    <form action"">
    <input type="hidden" value="<%=post.id%>" name="post_id">
    <input type="submit" value="Like! (4)">
    </form>





  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
