<% @posts.order(created_at: :desc).each do |post| %>

  <%= image_tag post.image_url.to_s %>
  <%= post_presenter(post) %>


  <% if current_user %>
    <%= form_tag("/likes", method: "post") do %>
      <%= hidden_field_tag(:user_id, current_user.id) %>
      <%= hidden_field_tag(:post_id, post.id) %>
      <% already_liked = post.likes.any?{ |like| like.user_id == current_user.id } %>
      <%= submit_tag "Like (#{post.likes.count})", :disabled => already_liked %>
   <% end %>
  <% end %>

  <h3>Comments</h3>
  <% post.comments.each do |comment| %>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  <% end %>


  Add a comment:
  <%= form_for([post, post.comments.build]) do |comment| %>
    <p>
      <%= comment.label :body %><br>
      <%= comment.text_area :body %>
    </p>
    <p>
      <%= comment.submit %>
    </p>
  <% end %>
<% end %>

<%= link_to new_post_path do %>
New post
<% end %>
