<!DOCTYPE html>
<html>
<head>
  <title>Acebook</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  
<body>
  <nav>
    <a href="/">
      <div id="page-logo"></div>
    </a>
    <% if signed_in? %>
      <div class="dropdown">
        <div class="dropbtn"><i class="fa fa-chevron-circle-down large-icon"></i>
          <div class="dropdown-content">
            <a href="/">Profile</a>
            <a href="/">Account</a>
            <%= link_to 'Sign out', sign_out_path, method: :delete %>
          </div>
        </div>
      </div>
      <a href="/" class="right-link" >Home</a>
      <%= image_tag current_user.avatar_url, size: User::AVATAR_SIZES[:small], class: "right-link" if current_user.avatar? %>
      <span class="right-link username"><%= current_user.name %></span><span class="right-link">Signed in as: </span>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </nav>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
    <!-- Add same styling as header //font & background colour. Container bottom of window with no padding -->
    <footer>
      <div class='footer'>
        <!-- Add styling to center -->
        <p>Made with love by the #April2017 <a class="footer-link" href="http://makersacademy.com">Makers Academy</a> cohort</p>
      </div>
    </footer>
  </body>
</html>
