<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <a href="/">
    <div id="page-logo">
    </div></a>
    <% if signed_in? %>
    <div id="signed-in-links">
      <ul>
  <div class="dropdown">
  <li><button class="dropbtn">Menu</button></li>
  <div class="dropdown-content">
    <a href="/">Profile</a>
    <a href="/">Account</a>
    <%= link_to 'Sign out', sign_out_path, method: :delete %></a>
  </div>
</div>
<li><a href="/" class="right-link">Home</a></li>
<li><span class="right-link"> Signed in as: <%= current_user.email %></span></li>
</ul>
</div>
        <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </header>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
